body {
    margin:0 auto;
    background-color: rgb(89,151, 210);
}
.maintitle {
    color: white;
    font-family: 'libre franklin';
    font-size: 120px;
    line-height: 10px;
    margin 0px;
    margin-left: 3vw;
    letter-spacing: 10px;
    font-size: 8vw;
}
p {
    color: black;
    font-family: 'Oswald';
}
.black-square {
    margin-top: -2vw;
    position: relative;
    height: 0.7vw;
    width: 46vw;
    background-color: black;
    
}
.landing-portrait {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 5vw;
}
.portrait {
    position: relative;
    display: block;

    margin: auto;
    margin-top: -10px;

    max-width: 60%;
    
    
    
}

.button-strip {
    position: relative;
    height: 5vw;
    width: auto;
    background-color: white;
    margin-top: -160px;
    z-index: -1000;

}
.button-strip-overlay {
    position: relative;
    height: 5vw;
    width: auto;
    background-color: rgb(182,202,189);
    z-index: 1000;
    margin-top: -5vw;
    opacity: 50%;
    mix-blend-mode: screen;
}

.landing-navigation {
    position: relative;
    height: 40;
    text-align: center;
    width:auto;
    font-size: 40px;
    z-index: 1100;
    margin: 0px;
    margin-top: -5vw;
    font-weight: 500;
    letter-spacing: 1.5vw;
    font-size: 3vw;



}
.page-split{ 
    height: 20px; 
    position:absolute;
    bottom:0;
    width:100%; 
    background-color: white; 
    opacity: 1;
}
