
.background{
    
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.background img{
    width: 100%;
    
    overflow: hidden;
    
    


}
body{
    background-image: radial-gradient(transparent, black),url('bgr.png');
    background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Helvetica;

}
.field{
    position: absolute;
    margin-top: 0;
    margin-left: 15vw;
    width: 70vw;
    height: 100%;
    background-color: #080704;
    color: white;
    opacity: 90%;
}
.area{
    margin-left: 2vw;
    right: 2vw;
    width: 96vw;
    height: 100%;
}




.topnav {
    margin: 0;
    background-color: #080704;
    overflow: hidden;
    width: 100%;
    height: 7vh;
    overflow: hidden;
    
}

.buttons div{
    display: block;
    align-items: center;
    float: left;

}
.topnav img{
    height: 7vh;
    
}
.topnav a.active {
    background-color: #292720;
    color: white;
}  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav .icon {
    display: none;
}

.topnav a {
    line-height: 7vh;
    padding: 7vh 30px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 3vh;
    
} 
.border{
    position: relative;
    overflow: hidden;
    margin: 5px;  
    margin-top: 1.5vh;
    height: 4vh;
    width: 7px;
    border-radius: 7px;
    
    
    background-color: #3d3b33;
    
    
}
.mborder{
    position: relative;
    overflow: hidden;
    margin: 5px;  
    margin-top: 1.5vh;
    height: 7px;
    width: 90vw;
    border-radius: 7px;
    
    
    background-color: #3d3b33;
    
    
}
.mobilebuttons {
    overflow: hidden;
    display: none;
    background-color: #080704;
    width: 100vw;
    
}
.mobilebuttons div{
    width: 100vw;
    
}
.mobilebuttons a{
    display: flex;
    padding: 2vh;
    align-items: center;
    width: 100%;
    line-height: 7vh;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-size: 3vh;
}
.mobilebuttons img{
    height: 7vh;
    
}
.mobilebuttons a.active {
    background-color: #292720;
    color: white;
}  
.mobilebuttons a:hover {
    background-color: #ddd;
    color: black;
}
.topnav .icon {
    padding: 0 40px;
    display: none;
}
@media (max-aspect-ratio: 1/1) {
    .buttons div:not(:first-child) {
        display: none;
    }
    .topnav .icon {
        float: right;
        display: block;
    }
    .mobilebuttons {
        display: none;
        
    }
    .mobilebuttons.responsive {
        display: block;
        background-color: #080704;
        width: 100%;
    }
    
}